{% extends "__layout.twig" %}

{% block content %}
<div class="text-center">
    <img src="/images/1420106007_1427270362.gif" alt="">
    <div>

    </div>
</div>
{% endblock %}

{% block navigation %}

{% endblock %}
