{% extends "__layout.twig" %}

{% block content %}
<div class="container mt-4">
    <p>{{ description }}</p>    
    <div class="container mt-2 mb-2">
        {{ content }}
    </div>
</div>
{% endblock %}