{% extends "__object.twig" %}

{% block selection %}{% endblock %}

{% block content %}
<div class="container mt-2 mb-2">
    <img src="{{ image }}" alt="images" class="img-fluid">
</div>
{% endblock %}
