{% extends "__object.twig" %}


{% block content %}
<div class="container mt-2 mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ system.title }}</h5>
            <p class="card-text">{{ info }}</p>
        </div>
    </div>
</div>
{% endblock %}
