{% extends "__object.twig" %}

{% block content %}
<div class="container mt-2 mb-2">
    <ul class="list-group">
        <li class="list-group-item" style="padding: 20px; width: 78%;">  <!-- Добавлен стиль width: 100% -->
            <div>
                <p>{{ info }}</p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}