{% extends "__layout.twig" %}
{% import 'macros.twig' as macros %}

{% block content %}
<div class="container mt-2 mb-2">
    <ul class="list-group">
        {% include 'list_item.twig' with {'title': 'Windows 11', 'url': '/windows'} %}
        {% include 'list_item.twig' with {'title': 'Linux Ubuntu', 'url': '/linux'} %}
    </ul>
</div>
{% endblock %}

