{% extends "__layout.twig" %}

{% block content %}
<h2 class="col-12">Добавление типа информационных систем</h2>
<hr>

{% if message %}
    <div class="alert alert-info">{{ message }}</div>
{% endif %}




<form action="" enctype="multipart/form-data" method="POST" class="row align-items-end g-2">
    <div class="col-md-3">
        <label class="form-label">Название</label>
        <input type="text" class="form-control" name="title" value="{{ object.title }}">
    </div>

    <div class="col-md-8">
        <label class="form-label">Картинка</label>
        <input class="form-control" type="file" name="image">
    </div>

    <div class="col-md-1 text-end">
        <button type="submit" class="btn btn-primary w-100">Добавить</button>
    </div>
</form>



{% endblock %}