{% extends "__object.twig" %}

{% block selection %}{% endblock %}

{% block content %}
<div class="container mt-2 mb-2">
    <ul class="list-group">
        <li class="list-group-item" style="padding: 20px;">
            <p>{{ info }}</p> {# Вывод описания из базы данных #}
        </li>
    </ul>
</div>
{% endblock %}
