.card {
    flex: 1 1 calc(33.333% - 1rem); 
    max-width: calc(33.333% - 1rem);
    min-width: 320px; /* Увеличим минимальную ширину */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* чтобы карточка не сжималась внутрь */
    justify-content: flex-start;
    align-items: center;
    padding: 10px; /* добавим отступы */
    border-radius: 10px;
}

/* Изображение внутри карточки */
.card img {
    width: 40%; /* Ширина картинки будет 40% от ширины карточки */
    height: auto; /* Высота будет автоматически изменяться пропорционально ширине */
    object-fit: contain; /* Изображение будет умещаться внутри блока, не искажая пропорции */
    object-position: center; /* Центрирует изображение */
    margin-top: 20px; /* Немного опускает изображение */
    margin-bottom: 40px;
}

/* Кнопки внутри карточки */
.card .btn-light {
    width: 100%; /* Кнопка с классом .btn-light займет всю ширину карточки */
    margin-bottom: -10px; /* Уменьшаем отступы между кнопками */
}

/* Выравнивание кнопок в строку */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Отступы между кнопками */
}

.btn-container .btn {
    flex: 1; /* Кнопки займут равное пространство */
}

.description-text {
    text-align: left;
}

.nav-pills {
    display: flex;
    justify-content: flex-start; /* Выравнивание по левому краю */
    padding: 0; /* Убираем внутренние отступы */
}

/* Медиа запросы для разных размеров экранов */
@media (max-width: 1000px) {
    .card {
        flex: 1 1 calc(33.33% - 15px); /* Три карточки на строке */
    }
}


@media (max-width: 992px) {
    .card {
        flex: 1 1 calc(50% - 1rem); /* Два объекта на строке на экранах среднего размера */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Один объект на строке на маленьких экранах */
    }
}
